body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}
.navbar{
    width: 100%;
    height: 70px;
}
.navbar .conteiner{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-menu li{
    display: inline-block;
}

.navbar-menu li a{
    display: inline-block;
}

.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
}